n8n-wattrel-query-gateway.json
{
  "name": "wattrel-query-gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wattrel-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wattrel-webhook",
      "name": "接收 Wattrel 查询请求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        0
      ],
      "webhookId": "replace-with-your-webhook-id",
      "notes": "值班平台调用这个 Webhook。请求体传 country/countryCode、limit、sql、params；中台按国家分流到对应跳板机查询 Wattrel。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json;\n\nconst DEFAULT_SQL = \"SELECT r.id, r.quality_id, r.name, r.type, r.`desc`, r.src_db, r.src_tbl, r.dest_db, r.dest_tbl, r.src_value, r.dest_value, r.diff, r.`begin`, r.`end`, r.result, r.status, r.src_error, r.dest_error, r.is_repaired, r.created_at, r.updated_at, s.src_sql AS src_sql, s.dest_sql AS dest_sql, s.msg_template AS msg_template FROM wattrel_quality_result r LEFT JOIN wattrel_quality_setting s ON r.quality_id = s.id WHERE r.result = 1 AND r.created_at >= DATE_SUB(NOW(), INTERVAL 3 DAY) ORDER BY r.created_at DESC LIMIT ?\";\n\nconst COUNTRIES = {\n  CN: {\n    key: 'cn', name: '中国', host: '10.20.47.14', port: 36000,\n    envFiles: ['/root/CN-Intelligent-Alarm-Repair-Assistant/.env.local', '/root/Global-Intelligent-Alarm-Repair-Assistant/.env.local'],\n  },\n  PH: {\n    key: 'ph', name: '菲律宾', host: '10.20.10.12', port: null,\n    envFiles: ['/root/PH-Intelligent-Alarm-Repair-Assistant/.env.local', '/root/Global-Intelligent-Alarm-Repair-Assistant/.env.local'],\n  },\n  INE: {\n    key: 'ine', name: '印尼', host: '192.168.21.236', port: 36000,\n    envFiles: ['/root/INE-Intelligent-Alarm-Repair-Assistant/.env.local', '/root/Global-Intelligent-Alarm-Repair-Assistant/.env.local'],\n  },\n  MX: {\n    key: 'mx', name: '墨西哥', host: '172.20.220.165', port: 36000,\n    envFiles: ['/root/MX-Intelligent-Alarm-Repair-Assistant/.env.local', '/root/Global-Intelligent-Alarm-Repair-Assistant/.env.local'],\n  },\n  TH: {\n    key: 'th', name: '泰国', host: '192.168.20.236', port: 36000,\n    envFiles: ['/root/TH-Intelligent-Alarm-Repair-Assistant/.env.local', '/root/Global-Intelligent-Alarm-Repair-Assistant/.env.local'],\n  },\n  PK: {\n    key: 'pk', name: '巴基斯坦', host: '10.20.84.176', port: null,\n    envFiles: ['/root/PK-Intelligent-Alarm-Repair-Assistant/.env.local', '/root/Global-Intelligent-Alarm-Repair-Assistant/.env.local'],\n  },\n};\n\nfunction shellQuote(value) {\n  return `'${String(value).replace(/'/g, `'\\\\''`)}'`;\n}\n\nfunction sqlLiteral(value) {\n  if (value === null || value === undefined) return 'NULL';\n  if (typeof value === 'number' && Number.isFinite(value)) return String(value);\n  return `'${String(value).replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\")}'`;\n}\n\nfunction interpolateSql(sql, params) {\n  let index = 0;\n  return String(sql || '').replace(/\\?/g, () => sqlLiteral(params[index++]));\n}\n\nfunction normalizeParams(params, limit) {\n  if (!Array.isArray(params) || params.length === 0) return [limit];\n  return params.map((item) => (item === '${limit}' || item === '{limit}' ? limit : item));\n}\n\nfunction normalizeCountry(value) {\n  const code = String(value || '').trim().toUpperCase();\n  if (code === 'ID' || code === 'INDONESIA') return 'INE';\n  if (code === 'PHILIPPINES') return 'PH';\n  return code;\n}\n\nfunction buildLoadEnvBlock(envFiles) {\n  const envFileList = envFiles.map(shellQuote).join(' ');\n  return [\n    `for env_file in ${envFileList}; do`,\n    '  if [ -f \"$env_file\" ]; then',\n    '    set -a',\n    '    . \"$env_file\"',\n    '    set +a',\n    '    break',\n    '  fi',\n    'done',\n  ].join('\\n');\n}\n\nfunction buildMysqlScript(country, sqlB64) {\n  return [\n    'set -euo pipefail',\n    buildLoadEnvBlock(country.envFiles),\n    ': \"${DB_HOST:?DB_HOST missing from wattrel env file}\"',\n    ': \"${DB_PORT:?DB_PORT missing from wattrel env file}\"',\n    ': \"${DB_USER:?DB_USER missing from wattrel env file}\"',\n    ': \"${DB_PASSWORD:?DB_PASSWORD missing from wattrel env file}\"',\n    ': \"${DB_NAME:?DB_NAME missing from wattrel env file}\"',\n    `printf %s ${shellQuote(sqlB64)} | base64 -d | MYSQL_PWD=\"$DB_PASSWORD\" mysql --batch --raw --silent --host=\"$DB_HOST\" --port=\"$DB_PORT\" --user=\"$DB_USER\" \"$DB_NAME\"`,\n  ].join('\\n');\n}\n\nfunction buildCountryCommand(code, country, sqlB64, requestId) {\n  const meta = JSON.stringify({ countryCode: code, countryKey: country.key, countryName: country.name, requestId });\n  const mysqlScript = buildMysqlScript(country, sqlB64);\n  const remoteScript = [\n    'set -euo pipefail',\n    `printf '%s\\\\n' ${shellQuote(`__WATTREL_META__${meta}`)}`,\n    buildLoadEnvBlock(country.envFiles),\n    'DB_EXEC_HOST=\"${WATTREL_DB_EXEC_HOST:-${WATTREL_DS_SSH_HOST:-${DS_SSH_HOST:-${DS_HOST:-}}}}\"',\n    'DB_EXEC_USER=\"${WATTREL_DB_EXEC_USER:-${WATTREL_DS_SSH_USER:-root}}\"',\n    'DB_EXEC_PORT=\"${WATTREL_DB_EXEC_PORT:-${WATTREL_DS_SSH_PORT:-}}\"',\n    'if [ -n \"$DB_EXEC_HOST\" ]; then',\n    '  ssh_args=\"-o BatchMode=yes -o ConnectTimeout=20\"',\n    '  if [ -n \"$DB_EXEC_PORT\" ]; then ssh_args=\"$ssh_args -p $DB_EXEC_PORT\"; fi',\n    `  ssh $ssh_args \"$DB_EXEC_USER@$DB_EXEC_HOST\" ${shellQuote(`bash -lc ${shellQuote(mysqlScript)}`)}`,\n    'else',\n    `  bash -lc ${shellQuote(mysqlScript)}`,\n    'fi',\n  ].join('\\n');\n\n  const sshParts = ['ssh'];\n  if (country.port) sshParts.push('-p', String(country.port));\n  sshParts.push('-o BatchMode=yes', '-o ConnectTimeout=20', shellQuote(`root@${country.host}`), shellQuote(`bash -lc ${shellQuote(remoteScript)}`));\n  return sshParts.join(' ');\n}\n\nconst countryCode = normalizeCountry(raw.countryCode || raw.country);\nconst country = COUNTRIES[countryCode];\nconst limit = Math.max(1, Math.min(1000, Number(raw.limit || 1000) || 1000));\nconst params = normalizeParams(raw.params, limit);\nconst sql = interpolateSql(raw.sql || DEFAULT_SQL, params).replace(/;*\\s*$/, '') + ';';\nconst requestId = String(raw.request_id || raw.requestId || `wattrel-${Date.now()}`);\nconst errors = [];\n\nif (!country) errors.push(`unsupported country: ${countryCode || '(empty)'}`);\nif (!sql.trim()) errors.push('sql is required');\n\nif (errors.length) {\n  return [{ json: { valid: false, errors, country: '', countryCode, countryName: raw.countryName || '', requestId } }];\n}\n\nconst sqlB64 = Buffer.from(sql, 'utf8').toString('base64');\nconst commands = Object.fromEntries(Object.entries(COUNTRIES).map(([code, item]) => [code, buildCountryCommand(code, item, sqlB64, requestId)]));\n\nreturn [{\n  json: {\n    valid: true,\n    country: country.key,\n    countryCode,\n    countryName: raw.countryName || country.name,\n    requestId,\n    limit,\n    commands,\n  },\n}];"
      },
      "id": "wattrel-parse-request",
      "name": "解析请求并生成各国 SSH 命令",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ],
      "notes": "校验国家、限制 limit，构造每个国家独立命令；数据库密码只在远端 .env.local 读取。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "valid-request-condition",
              "leftValue": "={{$json.valid}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "wattrel-if-valid",
      "name": "请求是否有效",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -380,
        0
      ],
      "notes": "无效国家或 SQL 为空时直接返回错误，不进入跳板机。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "country-cn",
                    "leftValue": "={{$json.country}}",
                    "rightValue": "cn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "country-ph",
                    "leftValue": "={{$json.country}}",
                    "rightValue": "ph",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "country-ine",
                    "leftValue": "={{$json.country}}",
                    "rightValue": "ine",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "country-mx",
                    "leftValue": "={{$json.country}}",
                    "rightValue": "mx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "country-th",
                    "leftValue": "={{$json.country}}",
                    "rightValue": "th",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "country-pk",
                    "leftValue": "={{$json.country}}",
                    "rightValue": "pk",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "wattrel-switch-country",
      "name": "按国家分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -120,
        -20
      ],
      "notes": "按 country 路由到 CN/PH/INE/MX/TH/PK 对应跳板机节点。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{$json.commands.CN}}"
      },
      "id": "wattrel-ssh-cn",
      "name": "中国 / CN - 连接跳板机查询 Wattrel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        180,
        -420
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "wGL20YUQ7ZpN1xRA",
          "name": "中国跳板机"
        }
      },
      "notes": "使用对应国家 n8n SSH 凭据进入执行机，再 ssh 到国家跳板机；国家跳板机读取 .env.local。若配置 WATTREL_DB_EXEC_HOST / WATTREL_DS_SSH_HOST / DS_SSH_HOST，则继续二跳到 DS/Wattrel 执行机，在那里执行 mysql 查询。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{$json.commands.PH}}"
      },
      "id": "wattrel-ssh-ph",
      "name": "菲律宾 / PH - 连接跳板机查询 Wattrel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        180,
        -260
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "MQWXoKIQxg8ae2Nt",
          "name": "菲律宾跳板机"
        }
      },
      "notes": "使用对应国家 n8n SSH 凭据进入执行机，再 ssh 到国家跳板机；国家跳板机读取 .env.local。若配置 WATTREL_DB_EXEC_HOST / WATTREL_DS_SSH_HOST / DS_SSH_HOST，则继续二跳到 DS/Wattrel 执行机，在那里执行 mysql 查询。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{$json.commands.INE}}"
      },
      "id": "wattrel-ssh-ine",
      "name": "印尼 / INE - 连接跳板机查询 Wattrel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        180,
        -100
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "SyHW5nXUCnuULr2c",
          "name": "印尼跳板机"
        }
      },
      "notes": "使用对应国家 n8n SSH 凭据进入执行机，再 ssh 到国家跳板机；国家跳板机读取 .env.local。若配置 WATTREL_DB_EXEC_HOST / WATTREL_DS_SSH_HOST / DS_SSH_HOST，则继续二跳到 DS/Wattrel 执行机，在那里执行 mysql 查询。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{$json.commands.MX}}"
      },
      "id": "wattrel-ssh-mx",
      "name": "墨西哥 / MX - 连接跳板机查询 Wattrel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        180,
        60
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "7oQDoS8H2buTjr7H",
          "name": "墨西哥跳板机"
        }
      },
      "notes": "使用对应国家 n8n SSH 凭据进入执行机，再 ssh 到国家跳板机；国家跳板机读取 .env.local。若配置 WATTREL_DB_EXEC_HOST / WATTREL_DS_SSH_HOST / DS_SSH_HOST，则继续二跳到 DS/Wattrel 执行机，在那里执行 mysql 查询。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{$json.commands.TH}}"
      },
      "id": "wattrel-ssh-th",
      "name": "泰国 / TH - 连接跳板机查询 Wattrel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        180,
        220
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "SliSXhrkW6tiEFFo",
          "name": "泰国跳板机"
        }
      },
      "notes": "使用对应国家 n8n SSH 凭据进入执行机，再 ssh 到国家跳板机；国家跳板机读取 .env.local。若配置 WATTREL_DB_EXEC_HOST / WATTREL_DS_SSH_HOST / DS_SSH_HOST，则继续二跳到 DS/Wattrel 执行机，在那里执行 mysql 查询。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{$json.commands.PK}}"
      },
      "id": "wattrel-ssh-pk",
      "name": "巴基斯坦 / PK - 连接跳板机查询 Wattrel",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [
        180,
        380
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "W8NbqcmBWoI5MZ3s",
          "name": "巴基斯坦跳板机"
        }
      },
      "notes": "使用对应国家 n8n SSH 凭据进入执行机，再 ssh 到国家跳板机；国家跳板机读取 .env.local。若配置 WATTREL_DB_EXEC_HOST / WATTREL_DS_SSH_HOST / DS_SSH_HOST，则继续二跳到 DS/Wattrel 执行机，在那里执行 mysql 查询。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json;\nconst stdout = String(raw.stdout || raw.data || '');\nconst stderr = String(raw.stderr || raw.error?.message || '').trim();\nconst exitCode = raw.code ?? raw.exitCode ?? (raw.error ? 1 : 0);\n\nfunction parseValue(value) {\n  if (value === undefined || value === 'NULL') return null;\n  if (/^-?\\d+(?:\\.\\d+)?$/.test(value)) {\n    const n = Number(value);\n    if (Number.isFinite(n)) return n;\n  }\n  return value;\n}\n\nconst lines = stdout.split(/\\r?\\n/).filter((line) => line.length > 0);\nlet meta = {};\nif (lines[0]?.startsWith('__WATTREL_META__')) {\n  try { meta = JSON.parse(lines.shift().replace('__WATTREL_META__', '')); } catch {}\n}\n\nif (Number(exitCode) !== 0) {\n  return [{ json: { success: false, country: meta.countryKey || '', countryCode: meta.countryCode || '', countryName: meta.countryName || '', requestId: meta.requestId || '', rows: [], rowCount: 0, error: { code: 'COMMAND_FAILED', message: stderr || 'ssh/mysql command failed', exit_code: exitCode } } }];\n}\n\nif (!lines.length) {\n  return [{ json: { success: true, country: meta.countryKey || '', countryCode: meta.countryCode || '', countryName: meta.countryName || '', requestId: meta.requestId || '', rows: [], rowCount: 0 } }];\n}\n\nconst headers = lines[0].split('\\t');\nconst rows = lines.slice(1).map((line) => {\n  const values = line.split('\\t');\n  return Object.fromEntries(headers.map((header, index) => [header, parseValue(values[index])]));\n});\n\nreturn [{ json: { success: true, country: meta.countryKey || '', countryCode: meta.countryCode || '', countryName: meta.countryName || '', requestId: meta.requestId || '', rows, rowCount: rows.length } }];"
      },
      "id": "wattrel-parse-result",
      "name": "解析查询结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "notes": "统一解析 mysql batch TSV 输出为 JSON rows；命令失败时返回 success=false。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, country: $json.country || '', countryCode: $json.countryCode || '', countryName: $json.countryName || '', requestId: $json.requestId || '', rows: [], rowCount: 0, error: { code: 'INVALID_REQUEST', message: ($json.errors || []).join('; ') || 'invalid request' } } }];"
      },
      "id": "wattrel-invalid-response",
      "name": "构造请求错误响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        520
      ],
      "notes": "把请求校验错误整理成统一 JSON。",
      "notesInFlow": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "wattrel-respond",
      "name": "返回 Wattrel 查询结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        820,
        0
      ],
      "notes": "返回给值班平台。成功时 rows 为 Wattrel 当前告警记录；失败时 error.message 说明原因。",
      "notesInFlow": true
    }
  ],
  "pinData": {},
  "connections": {
    "接收 Wattrel 查询请求": {
      "main": [
        [
          {
            "node": "解析请求并生成各国 SSH 命令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析请求并生成各国 SSH 命令": {
      "main": [
        [
          {
            "node": "请求是否有效",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "请求是否有效": {
      "main": [
        [
          {
            "node": "按国家分流",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "构造请求错误响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按国家分流": {
      "main": [
        [
          {
            "node": "中国 / CN - 连接跳板机查询 Wattrel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "菲律宾 / PH - 连接跳板机查询 Wattrel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "印尼 / INE - 连接跳板机查询 Wattrel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "墨西哥 / MX - 连接跳板机查询 Wattrel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "泰国 / TH - 连接跳板机查询 Wattrel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "巴基斯坦 / PK - 连接跳板机查询 Wattrel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构造请求错误响应": {
      "main": [
        [
          {
            "node": "返回 Wattrel 查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析查询结果": {
      "main": [
        [
          {
            "node": "返回 Wattrel 查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "中国 / CN - 连接跳板机查询 Wattrel": {
      "main": [
        [
          {
            "node": "解析查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "菲律宾 / PH - 连接跳板机查询 Wattrel": {
      "main": [
        [
          {
            "node": "解析查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "印尼 / INE - 连接跳板机查询 Wattrel": {
      "main": [
        [
          {
            "node": "解析查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "墨西哥 / MX - 连接跳板机查询 Wattrel": {
      "main": [
        [
          {
            "node": "解析查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "泰国 / TH - 连接跳板机查询 Wattrel": {
      "main": [
        [
          {
            "node": "解析查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "巴基斯坦 / PK - 连接跳板机查询 Wattrel": {
      "main": [
        [
          {
            "node": "解析查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "replace-after-import",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "replace-after-import",
  "tags": []
}
